@media (min-width: 695px) {
    form {
        float: left;
        width: 60%;
    }
    #comment{
        display: inline-block;
        width: 60%;
        float: none;
    }
}

form>div {
    float: left;
    width: 100%;

}

form .success {
    font-size: 1.1em;
    color: #00C851;
}

form .fail {
    font-size: 1.1em;
    color: #ff4444;
}

form .formbtn {
    padding: 5px 9px;
    font-size: 1.2em;
    text-shadow: #576574 0 0 1px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1999d1;
    float: right;
    margin-right: 9%;
}

form>div>input{
    border-radius: 18px;
    border: 1px solid #959595;
    font-size: 0.9em;
    padding: 10px 5%;
    margin-bottom: 10px;
    background-color: white;
    width: 75%;
    font-family: 'Exo 2', sans-serif;
}

form textarea {
    resize: none;
    height: 150px;
    border-radius: 20px;
    border: 1px solid #959595;
    font-size: 0.9em;
    padding: 10px 5%;
    margin-bottom: 10px;
    background-color: white;
    width: 75%;
    font-family: 'Exo 2', sans-serif;
}

form>div>input:focus, form textarea:focus {
    border-color: #366FA1;
}

